{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/parallax.min.js"></script>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
<link type="text/css" rel="stylesheet" href="/static/css/image-overlay.css" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col hero-section justify-content-center align-items-middle">
    <div class="hero-section" style="background: none;">
      <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/wall.jpeg" style="height: 100%;"
        data-z-index="-1">
      </div>
      <div class="text-overlay">
        <h1>My Resume</h1>
      </div>
    </div>
  </div>
</div>
<div class="mask-bg">
  <div class="row hero-under-banner">
    <div class="col">
      <div class="container" style="max-width: 800px;">
        <div class="row align-items-center mobile-pad" style="min-height: 40px;">
          <div class="col-sm-4 text-pad">
            Matthew Kimotsuki
          </div>
          <div class="col-sm-4 text-pad">
            kimomatt1.0@gmail.com
          </div>
          <div class="col-sm-4 text-pad">
            San Francisco, CA
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-content-container" style="margin-top: 40px;">
    <div class="row">
      <div class="col blurb-section">
        <p>I'm a passionate student</p>
        <p>Intrigued by coding, sports, and always learning more.</p>
        <p>Check out what I've done.</p>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 30px;">
    <div class="row">
      <div class="col section-header">
        Extracurricular Activities
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Intern | Architectural Foundation of San Francisco -- San Francisco, CA
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              6/15/2020 - 7/17/2020
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <ul>
                <li class="main-li">Created and presented multiple Google Slides presentations with peers including one showcasing our group’s Fulton Mall Design Proposal
                </li>
                
                <li class="main-li">Created a sustainable home design, a COVID safe classroom design, and an activism space for our Fulton Mall Design using SketchUp
                </li>
                <li class="main-li">Created a 2 bedroom, 1.5 bath, 1000 sq ft apartment using Revit
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Participant in Mayor's Youth Employment & Education Program Job Readiness/ Educational Workshops
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              6/2020 - 7/2020
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              
              <ul>
                <li class="main-li">Collaborate with peers to complete group projects and activities
                </li>
                <li class="main-li">Practice and improve public speaking skills
                </li>
                <li class="main-li">Create and present a PowerPoint presentation showcasing goals to a panel audience
                </li>
                <li class="main-li">Participate in time management, budgeting, professionalism, and communication training workshops
                </li>
              </ul>
            </div>
          </div>
        </div>
      <!-- Project 3 -->
      <div class="container section-content">
        <div class="row">
          <div class="col section-content-header">
            Intern | Department of Public Works -- San Francisco, California
          </div>
        </div>
        <div class="row">
          <div class="col time-span">
            6/2019 - 7/2019
          </div>
        </div>
        <div class="row">
          <div class="col section-content-inner">
            
            <ul>
              
              <li class="main-li">Used gardening tools to edge and weed the sidewalks in order to make the community an attractive place

              </li>
              <li class="main-li">Made the community cleaner through picking up litter

              </li>
              <li class="main-li">Practiced and improved work ethic and discipline
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Project 4 -->
      <div class="container section-content">
        <div class="row">
          <div class="col section-content-header">
            Player | Amateur Athletic Union (AAU) Basketball - Do it Better Basketball
          </div>
        </div>
        <div class="row">
          <div class="col time-span">
            9/2017 - 12/2019
          </div>
        </div>
        <div class="row">
          <div class="col section-content-inner">
            
            <ul>
              
              <li class="main-li">Competed in tournaments across the city, sometimes state
              </li>
              <li class="main-li">Improved teamwork from working with teammates through practices and games
              </li>
              <li class="main-li">Improved self discipline, selflessness, perseverance, and work ethic
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Project 5 -->
      <div class="container section-content">
        <div class="row">
          <div class="col section-content-header">
            Student | Supermath
          </div>
        </div>
        <div class="row">
          <div class="col time-span">
            8/2009 - Present
          </div>
        </div>
        <div class="row">
          <div class="col section-content-inner">
            
            <ul>
              
              <li class="main-li">Competed in mental calculation/abacus tournaments in Banff, Milpitas, and San Francisco
              </li>
              <li class="main-li">Improved work ethic, self discipline through homework, classes, and tournaments
              </li>
              <li class="main-li">Learned how to do advanced mental and abacus calculations

              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Project 6 -->
      <div class="container section-content">
        <div class="row">
          <div class="col section-content-header">
            Volunteer | theCoderSchool -- San Francisco, CA
          </div>
        </div>
        <div class="row">
          <div class="col time-span">
            7/29/2019 - 8/2/2019
          </div>
        </div>
        <div class="row">
          <div class="col section-content-inner">
            
            <ul>
              
              <li class="main-li">Gave assistance to children who needed help with App Inventor
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Project 7 -->
      <div class="container section-content">
        <div class="row">
          <div class="col section-content-header">
            LEAD: Web App Development
          </div>
        </div>
      </div>


      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Skills
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Familiar with Google Applications, Microsoft Word
            </div>
          </div>
          
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Experience with: JavaScript, Java, Scratch, HTML, CSS, SketchUp, Revit, App Inventor
            </div>
          </div>
        </div>
        
        <!-- Project 3 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Languages: English (fluent)
            </div>
          </div>
          
        </div>

      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Awards / Honors / Certifications
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">

          <div class="row">
            <div class="col section-content-header">
              Spring 2020 CFGL Young Artists Competition Divisional Level - Finalist
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              I submitted a video that was related to the quote, "Hope lies in dreams, in imagination, and in the courage of those who dare to make dreams into reality." -Jonas Salk
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 100px;">
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/ball.jpeg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">This is a basketball</h3>
            <p class="content-text">I enjoy playing basketball in my free time.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/controller.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">This is a PlayStation Controller</h3>
            <p class="content-text">I also enjoy playing video games in my free time</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/hike.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">This is a forest</h3>
            <p class="content-text">I enjoy hiking in nature, and this is one of the things I might see</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block footer %}
<div class="footer-container">
  <div class="container page-content-container">
    <div class="row">
      <div class="col-sm-6 contact-me-text">
        Contact Me
      </div>
      <div class="col-sm-6 contact-icons">
        <div>
          <img src="/static/img/contact-icons/gmail.png">
          <span class="contact-info">kimomatt1.0@gmail.com</span>
        </div>
        
        
        <div>
          <a href="https://github.com/kimomatt">
            <img src="/static/img/contact-icons/github.png">
            <span class="contact-info">github.com/kimomatt</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}